body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  color:#d7d4e3;
   font-size : 3rem;
}

hr{
  border-color:#ff471a;
  border-width: 3px;
  max-width: 65px;
} 

.btn{
  font-weight: 700;
  border-radius:300px;
  text-transform: uppercase;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color:#ff471a;
  border-color:#ff471a;
}

.btn-primary:hover {
  background-color:#e62e00;
  border-color:#e62e00;
  border-width: 4px;
}

.buffer {
  height: 10rem;
}